body {
  background-color: white;
}

.circle {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

input {
  display: block;
  width: 20%;
}

#submit {
  width: 60px;
  margin-top: 10px;
}